/*------------------header-section-start-------------------------*/
@media(min-width:576px){    
    .header-section{
    color: rgb(200, 13, 238);
    }

    .custem-container{
        text-align: center;
        padding: 0% 10%;
    }
    .pt-5{padding-top:50%!important}
    .py-4{padding-top:1rem!important;padding-bottom:1rem!important}
    .custem-btn{
        height:55px;
        width:200px;
    }  
}
@media (min-width:768px){
    .header-section{
        color: darkgrey;
    }

    .pt-5{padding-top:50%!important}
    .py-4{padding-top:0.5rem!important;padding-bottom:0.5rem!important}
}
@media (min-width:992px){
    .custem-container{
        text-align: left;
    }
    .header-section{
        color: rgb(238, 70, 70);    
        text-align: left;
    }
    .cover-image{
       /*-- min-height:100vh;--*/
        width: 100%;
        background: url('images/heder-bg-3.png');
        background-size: cover;
    }
    .pt-5{padding-top:3rem!important}
    .py-4{padding-top:2.5rem!important;padding-bottom:2.5rem!important}
    .w-50{
        width: 70% !important;
    }
    .custem-w-50{
        font-size: 20px;
        width: 60%;
    }
}
@media (min-width:1200px){
    .py-4{padding-top:1.5rem!important;padding-bottom:1.5rem!important}
    .header-section{
        color: rgb(35, 155, 211);
    }
    .cover-image{
        min-height:100vh;
        width: 100%;
        background: url('images/heder-bg-2.png');
        background-size: cover;
    }
    .w-50{
        width: 58% !important;
    }
    .custem-w-50{
        font-size: 20px;
        width: 40%;
    }
    
}
/*-------------------header-section-end--------------------------*/


/*------------------first-section-start--------------------------*/
@media(min-width:576px){
    .my-img1{ 
        background: url('images/d-img-1.png');
        background-size: cover;
    }
    .row-1{
        order:2;
    }
    .row-2{
        order:1;
    }
    .w-75{
        padding-right:2.5rem!important;padding-left:2.5rem!important;
    }
    .custem-w-60{
        width: 100%;
    }
}
@media(min-width:768px){
    .w-75{
        width:75%!important;
        padding-right:0rem!important;padding-left:0rem!important;
    }
    .first-section{
        text-align: left;
    }
    .custem-w-60{
        width: 68%;
    }
    .my-img1, .my-img2 {
        height: 350px;
    }
    .my-img1{ 
        background: url('images/d-img-1.png');
        background-size: cover;
    }
}
@media(min-width:992px){
        .row-1{
        order:1;
    }
    .row-2{
        order:2;
    }
    .my-img1, .my-img2 {
        height: 500px;
    } 
    .my-img1{ 
        background: url('images/d-img-1.png');
    }
    .my-img2{
        position: relative;
        top: 60px;
        background: url('images/d-img-2.png');
    }
}
@media(min-width:1200px){
    .my-img1, .my-img2 {
        height: 700px;
    } 
}
/*--------------------first-section-end--------------------------*/


/*------------------second-section-start--------------------------*/
@media(min-width:576px){
    .high-light-img-1, .high-light-img-2, .high-light-img-3{
        background-color: #b9b3df;
        width: 100%;
        height: 100px;
    }
}
@media(min-width:768px){
    .high-light-img-1, .high-light-img-2, .high-light-img-3{
        background-color: #b9b3df;
        width: 100%;
        height: 80px;
    }
    .second-section{
        text-align: left;
    }
}
@media(min-width:992px){
    .high-light-img-1, .high-light-img-2, .high-light-img-3{
        background-color: #b9b3df;
        width: 100%;
        height: 100px;
    }
}
@media(min-width:1200px){
    .high-light-img-1, .high-light-img-2, .high-light-img-3{
        background-color: #b9b3df;
        width: 100%;
        height: 130px;
    }
}
/*--------------------second-section-end--------------------------*/

/*--------------------third-section-start-------------------------*/
@media(min-width:576px){
    .third-section-img{
        height: 300px;
    }.px-5{padding-right:0rem!important;padding-left:1.5rem!important}
}
@media(min-width:768px){
    
    .third-section{
        text-align: left;
    }
    .third-section-img{
        height: 400px;
        background-size: cover;
    }
}
@media(min-width:992px){
    .custem-font-siz{
        font-size: 17px;
    }
    .third-section-img{
        height: 600px;
        background-size: cover;
    }
    .px-5{padding-right:3rem!important;padding-left:3rem!important}
}
@media(min-width:1200px){}
/*----------------------third-section-end-------------------------*/

/*--------------------fourth-section-start------------------------*/
@media(min-width:576px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
/*---------------------fourth-section-end-------------------------*/

/*--------------------sixth-section-start-------------------------*/
@media(min-width:576px){}
@media(min-width:768px){
    .sixth-section{
        text-align: left;
    }
}
@media(min-width:992px){}
@media(min-width:1200px){}
/*---------------------sixth-section-end--------------------------*/



/*-------------------bookings-section-start-----------------------*/
@media(min-width:576px){

    .booking-cover{
        background-size: cover;
        width:100%;
        background: url(images/GaryTardiff-10.jpg);
    }

    .bookings-section{
       margin-bottom: 0;
    }
    .from-box{
        background: #ffffff;
        width: 90%;
    }
    .day{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    #month, #mins{
        margin:0 9% ;
    }
}
@media(min-width:768px){
    .from-box{
        top:-6rem;
        background: #ffffff;
        width: 90%;
    }
    .day{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
}
@media(min-width:992px){
    .from-box{
        top:20rem;
        background: #ffffff;
        width: 100%;
    }
}
@media(min-width:1200px){
    .from-box{
        top:27rem;
        background: #ffffff;
        width: 100%;
    }
}
/*--------------------bookings-section-end------------------------*/